@charset "utf-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/* body */
body {
  background: #f2f2f2;
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}
.navbar-brand {
  background: url("/images/s_f_leaf1040.png") no-repeat center;
  background-size: contain;
  height: 50px;
  
}

.navbar-brand img {
  display: block;
}

.cover-img {
	height: 150px;
	display: table;
	width: 100%;
	background-size: cover;
}

/* ワイドスクリーン用のCSS */
@media only screen and (min-width: 1500px) {
	.cover-img {
		height: 200px;
	}
}

/* タブレット用のCSS */
@media only screen and (min-width : 768px) and (max-width : 1200px) {
	.cover-img {
		height: 120px;
	}
}

/* スマホ用のCSS */
@media only screen and (max-width: 479px) {
	.cover-img {
		height: 100px;
	}
}

.cover-text {
	display: table-cell;
	vertical-align: middle;
  text-align: center;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  
}

.cover-text h2{
  font-weight: 800;
}



#wrapper {
  overflow: hidden;
}

div#main {
  float: left;
  width: 60%;
  
  background-color: #ddffdd;
}
aside {
  width: 20%;
  
  background-color: #ffddff;
}
aside.left {
  float: left;
}
aside.right {
  float: right;
}